*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
admin-server/node_modules/
admin-server/data/*.db
admin-server/.env
.idea/
admin-server-*.tgz
*-deploy.tgz
mohamy.abud.fun.nginx.conf
ssh_try*.log
